//
// Description: Styling for default form elements
//

@input-padding:    .25em;
@input-background: @color-reverse;
@input-blurred:    @color-secondary;
@input-focused:    @black;
@input-disabled:   #DDD;

@form-field-height-sm: 48px;
@form-field-height-lg: 58px;

//
// Legends - don't bother styling the legend element directly
//
legend > span {
	display:block;
}


//
// Labels
//
label {
	white-space:nowrap;
	display: block;
	color: @color-secondary;
	.font-size(18);
	margin-bottom: 1em;

	// Match .mega in typography.less
	@media (min-width: @screen-sm-min) {
		.font-size(20);
	}
	@media (min-width: @screen-md-min) {
		.font-size(24);
	}

	dfn[title] {
		border:none;
		color: @color-text;
	}
}


//
// Shared properties
//
input,
select,
textarea {
	padding: .8em 1em;
	font-family: @type-regular;
	font-size: 18px;
	margin-bottom: .5em;
	display: block;
	background: @input-background;
	border: 1px solid @color-subtle;
	color: @color-text;
	width: 100%;
	border-radius: 0;
	background-clip: padding-box;
	-webkit-border-radius: 0px;
	-webkit-appearance: none;   
    -webkit-box-shadow: none;

    @media (min-width: @screen-sm-min) {
		font-size: 20px;
	}

	&[disabled] {
		border-color:darken(@input-disabled, 20%) !important;
		color:darken(@input-disabled, 20%) !important;
		background:@input-disabled !important;
		cursor:not-allowed !important;
	}

	&:focus {
		color: @color-text;
		outline: 1px dotted @color-brand;
		border: 1px solid @color-secondary;
	}
}

input {
	// Go native else build a new input with a little JS <http://bit.ly/qM8FYC>
	&[type=file],
	&[type=radio],
	&[type=checkbox] {
		padding:0;
		border:none;
		background:none;
		width: auto;
	}

	&[type=submit] {
		.btn;
		width: 100%;
		margin: 0 auto;

		@media (min-width: @screen-sm-min) {
			margin: 0;
			width: auto;
		}		
	} 
}

// Select boxes obey a border-box layout (mostly)
select {
	height:29px; // Set a height to match text inputs (roughly font size * 'normal' + border width E.G. 16 * 1.222 + 2)
	padding:2px;

	&[size],
	&[multiple] {
		height:auto;
	}
}

textarea {
	height:11em;

	&[rows] {
		height:auto;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @color-reverse;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @color-reverse;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @color-reverse;
}
:-moz-placeholder { /* Firefox 18- */
  color: @color-reverse;
}


// Contact form 7
span[role=alert] {
	color: @color-attention;
	font-weight: normal;
	font-size: 14px;
}
.wpcf7-validation-errors, .wpcf7-mail-sent-ng {
	border: 1px solid @color-attention;
	color: @color-attention;
	padding: 1em;
}
div.wpcf7-validation-errors {
	margin: 1em 0;
	border: 1px solid @color-attention;
}
input[type=text].wpcf7-not-valid,
input[type=email].wpcf7-not-valid {
	border: 1px solid @color-attention;
}
.control span.wpcf7-list-item {
	position: relative;
	margin: 0;
}

// Custom checkboxes
.control {
	.font-size(16);
	position: relative;
	display: block;
	margin-bottom: 2em;
	padding-left: 28px;
	cursor: pointer;
	white-space: inherit;
	color: @black;
}
.control input {
	position: absolute;
	left: -28px;
	top: 50%;
	.translate(0, -50%);
	width: 20px !important;
	height: 20px !important;
	margin: 0;
	padding: 0;
}
.control input:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: @color-reverse;
	border: 2px solid @color-subtle;
	z-index: 10;
}

/* Check mark */
.control input:before {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked:before {
	display: block;
}

/* Checkbox tick */
.control input:checked:before{
	top: 4px;
	left: 8px;
	width: 5px;
	height: 10px;
	.rotate(45deg);
	border: solid @color-subtle;
	border-width: 0 2px 2px 0;
	z-index: 20;
}


// Custom select
.custom-select {
	position: relative;

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-apperance: none;
		appearance: none;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		height: @form-field-height-lg;
		padding-top: .8em; // to overwrite singular values in layouts.less
		padding-bottom: .8em;
		padding-left: .8em;
		padding-right: 1.7em;
		margin: 0;
		background-image: url(../images/arrow-down.png);
		background-position: center right 14px;
		// fix for ipad iOS < 7.0
		background-position-x: 95%;
		background-position-y: 50%;
		background-repeat: no-repeat;
		&::-ms-expand {
		    display: none;
		}
	}
}