//
// Description: Styling for default elements
//

//
// Quotations and citations
// Zen-Coding: blockquote>p+footer>cite>a
blockquote, q, cite {
	font-style:normal;
}
blockquote {
	color: $color-primary;

	p {		
		margin-bottom: 1em;
	}

	footer {
		font-size: 14px;
	}
}


//
// Monospace
//
pre, code, kbd, var {
	font-family:$type-mono;
}
pre {
	overflow:auto;
}
code, kbd, var {
	line-height:1;
}


//
// Tooltips
//
abbr[title], acronym[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}


//
// Links
//
a {
	text-decoration:none;
	color: $color-text;
	@include transition();

	&:hover {
		color:darken($color-primary, 20%);
		text-decoration: underline;
	}
	&:active, &:focus {
		outline-offset:1px;
	}
	&:focus {
		outline: 1px dotted $color-lowlight;
	}
}


//
// Horizontal rules
//
hr {
	height:1px;
	padding:0;
	margin:1em 0;
	border:0;
	background:$color-subtle;
}

//
// Tables
//
table {
	width: 100% !important;
	margin:$type-blankline auto;
	border-collapse:collapse;
	border:1px solid $color-primary;

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: .2em;
	}
}
	th {
		font-weight:normal;
		text-align:left;
		background:lighten($color-primary, 5%);
	}
	th, td {
		padding:.25em .5em;
		border-right:1px solid $color-primary;
		border-bottom:1px solid $color-primary;
	}

//
//Iframes

iframe {
	display: block;
}

address {
	font-style: normal;
	margin-bottom: .5em;

	p {
		margin-bottom: 0;
	}
}